.animation {
  -webkit-transition: 5s;
}
.animation.ng-enter {
  opacity: 0;
}
.animation.ng-leave {
  opacity: 1;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.animation.ng-leave.ng-leave-active {
  opacity: 0;
}


.animation {
  -webkit-transition: 5s;
}
.animation.ng-show {
  opacity: 0;
}
.animation.ng-hide {
  opacity: 1;
}
.animation.ng-show.ng-show-active {
  opacity: 1;
}
.animation.ng-hide.ng-hide-active {
  opacity: 0;
}

/*#amortization{
  margin-left: calc(50px);
}*/