<div ng-app="" ng-controller="Test1Ctrl"> 
<h1>Test1</h1>

<!-- <div ng-init="names=['Igor Minar', 'Brad Green', 'Dave Geddes', 'Naomi Black', 'Greg Weber', 'Dean Sofer', 'Wes Alvaro', 'John Scott', 'Daniel Nadasi'];">
  <div class="well" style="margin-top: 30px; width: 200px; overflow: hidden;">
    <form class="form-search"> 
        <div class="input-append">
          <input type="text" ng-model="search" class="search-query" style="width: 80px">
          <button type="submit" class="btn">Search</button>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li ng-animate="'animate'" ng-repeat="name in names | filter:search">
            <a href="#"> {{name}} </a>
          </li> 
      </ul>
    </form>
  </div>
</div> -->


 <h1>ngRepeat</h1>
  <p>
    <button ng-click="push()">Enter Animation</button>
    <button ng-click="pop()">Leave Animation</button>
    <hr>
    <ul>
      <li ng-repeat="item in items" class="animation">{{item}}</li>
    </ul>


</div>